body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100vh;
    background: linear-gradient(#ADD8E6, #E6F7FF);
    font-family: Arial, sans-serif;
}

.grid-container {
    display: grid;
    place-items: center;
    height: 100vh;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container h1 {
    text-align: center;
    color: darkslateblue;
}

.input-field {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-button {
    width: 95%;
    padding: 10px;
    background-color: darkslateblue;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: mediumslateblue;
}

.back-link {
    text-align: center;
    margin-top: 10px;
}

.back-link a {
    color: darkslateblue;
    text-decoration: none;
    font-size: 14px;
}

.back-link a:hover {
    text-decoration: underline;
}
